<ion-view view-title="{{value}}">    
    <ion-content >        
        <!--<div class="list card" ng-show="personagem">-->
        <div class="list card">
            <div class="item item-text-wrap bar bar-header bar-royal">
                Personagem
            </div>
            <div class="item item-avatar">
                <img src="img/icon.png">
                <h2>
                    {{personagem.background}}
                    <button class="button button-positive" style="float:right" ng-click="editar(personagem)" ng-show="editando">
                        <i class="icon ion-edit"></i>
                    </button>
                </h2>
                <p></p>

            </div>
            <div class="item item-image">
                <img id="imgAt" style="display:none" />
                <canvas id="myCanvas2"
                        width="{{windowConfig.screenResolution.getIdealw()+'px'}}" height="{{windowConfig.screenResolution.getIdealh()+'px'}}" style='border:1px solid transparent'>
                    <!--<canvas id="myCanvas2" width="250" height="300">-->
                    Seu dispositivo estranhamente não suporta HTML5.
                </canvas>
            </div>
            <a class="item item-icon-left assertive" href="#" ng-click="showMote(personagem.mote)">
                <i class="icon ion-quote"></i>
                {{personagem.mote}}
            </a>
        </div>
        <ion-list id="viewkey">            
            <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.title}}?v={{value}}" >
                <span class="ion-arrow-right-c"></span> <span>{{playlist.title}}</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
