/* Empty. Add your own CSS if you like */
.cl {
    background-color: #6b46e5 !important;    
}

.lblwhite{
    color:white !important;
}

.biggo{
    font-size:20pt !important;
    margin:0 5px 0 0 !important;
}

.loadIcon{
	cursor: pointer !important;
	font-size: 20pt !important;
	color:white !important;
}